---
import Layout from "../layouts/Layout.astro";
---

<Layout title="sf frens zines">
  <main>
    <h1>sf frens zines</h1>
    <p>Submissions for zine 3 open now!</p>
    <p>
      Send your submission to <a href="mailto:zine-submission@sf-frens.org"
        >zine-submission@sf-frens.org</a
      >.
    </p>
    <p>
      See <a href="https://www.instagram.com/p/C9dBWWEyIbF/?img_index=3"
        >our post</a
      > for more details.
    </p>
    <ul>
      <li>
        <a
          href="https://drive.google.com/file/d/16wuek5qQXNUG3INnDNmAxqr4dm8Rny0c/view"
          >Edition 01</a
        >
      </li>
      <li><a href="/issue2">Edition 02</a></li>
      <li>Edition 03 coming soon...</li>
      <li>
        <a href="https://forms.gle/qoe1t5rvvsbk7RBq7">Request</a> reprints
      </li>
    </ul>

    <p>
      <a href="https://forms.gle/DbRRmbTBYhJ9fm5B8">Sign up</a> to hear about future
      events
    </p>
  </main>

  <style>
    ul {
      list-style: lower-greek;
    }
  </style>
</Layout>
