---
import Layout from "../layouts/Layout.astro";
---

<Layout title="sf frens zines">
  <main>
    <h1>sf frens zines</h1>
    <ul>
      <li>
        <a
          href="https://drive.google.com/file/d/16wuek5qQXNUG3INnDNmAxqr4dm8Rny0c/view"
          >Edition 01</a
        >
      </li>
      <li>
        <p>
          <a
            href="https://docs.google.com/document/d/1wH662dtJZaWugU-1eSz7SFfHMByBcHX8Uiv5H51dGOs/edit?usp=sharing"
            >Edition 2</a
          > coming soon!
        </p>
      </li>
    </ul>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }

  ul {
    list-style: lower-greek;
  }
</style>
