---
import Layout from "../layouts/Layout.astro";
---

<Layout title="sf frens zines">
  <main>
    <h1>sf frens zines</h1>
    <p>
      Follow us on <a href="https://www.instagram.com/sf_frens/">Instagram</a> for
      updates on zine 4!
    </p>
    <ul>
      <li><a href="/issue1">Edition 01</a></li>
      <li><a href="/issue2">Edition 02</a></li>
      <li><a href="/issue3">Edition 03</a></li>
      <li><a href="/issue4">Edition 04</a></li>
      <li>
        <a href="https://forms.gle/qoe1t5rvvsbk7RBq7">Request</a> reprints
      </li>
      <li>
        <a href="https://forms.gle/ZmWT4pNB8EmpwQiN9">Sign up</a> to submit for future
        issues
      </li>
      <li>
        <a href="mailto:inquiries@sf-frens.org">Email us</a> for general inquiries
      </li>
    </ul>

    <style>
      ul {
        list-style: lower-greek;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    </style>
  </main>
</Layout>
