---
import Layout from "../layouts/Layout.astro";
---

<Layout title="sf frens zines">
  <main>
    <h1>sf frens zines</h1>
    <ul>
      <li>
        <a
          href="https://drive.google.com/file/d/16wuek5qQXNUG3INnDNmAxqr4dm8Rny0c/view"
          >Edition 01</a
        >
      </li>
      <li>
        <a
          href="https://drive.google.com/file/d/1y031vVrnXHhMrdsZTvrDPEJL5FLmaTw7/view?usp=sharing"
          >Edition 02</a
        >
      </li>
      <li>Edition 03 coming soon...</li>
      <li>
        <a href="https://forms.gle/qoe1t5rvvsbk7RBq7">Request</a> reprints
      </li>
    </ul>

    <p>
      <a href="https://forms.gle/DbRRmbTBYhJ9fm5B8">Sign up</a> to hear about future
      events
    </p>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }

  ul {
    list-style: lower-greek;
  }
</style>
