---
import Layout from "../layouts/Layout.astro";
---

<Layout title="sf frens zines">
  <main>
    <h1>sf frens zines</h1>
  </main>
</Layout>

<style>
  main {
    background: linear-gradient(to bottom, #ff99cc, #ff6699);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
</style>
