---
import Layout from "../layouts/Layout.astro";
---

<Layout title="sf frens zines - issue 4">
  <main>
    <h1>sf frens zines - issue 4</h1>
    <p>Coming soon...</p>
    <p>
      Follow us on <a href="https://www.instagram.com/sf_frens/">Instagram</a> for
      updates on zine 4!
    </p>
    <br />
  </main>
</Layout>
