---
import Layout from "../layouts/Layout.astro";
---

<Layout title="sf frens zines - issue 1">
  <main>
    <h1>sf frens zines - issue 1</h1>
    <p>
      print one (<a
        href="https://drive.google.com/file/d/1Xqlmmem5PSGk34fNpTQDzETkyHRBRWZZ/view?usp=sharing"
        >pdf</a
      >,
      <a
        href="https://drive.google.com/file/d/16wuek5qQXNUG3INnDNmAxqr4dm8Rny0c/view"
        >zip</a
      >)
    </p>
    <a href="https://forms.gle/zvJhAGrnfPFJ3Pp19">join our mailing list</a>
  </main>
</Layout>
