---
import Layout from "../layouts/Layout.astro";
---

<Layout title="sf frens zines - issue 3">
  <main>
    <h1>sf frens zines - issue 3</h1>
    <p>Digital copies coming soon...</p>
    <a href="https://forms.gle/zvJhAGrnfPFJ3Pp19">join our mailing list</a>
    <br>
    <a href="https://docs.google.com/document/d/1zMzh85iK823MvzW32Sj787sN1TvMu4sCdbG_boGtiqE/edit?usp=sharing">movies trivia answer key</a>
  </main>
</Layout>
