---
import Layout from "../layouts/Layout.astro";
---

<Layout title="sf frens zines - issue 4">
  <main>
    <h1>sf frens zines - issue 4</h1>
    <p>Coming soon...</p>
    <a href="https://forms.gle/zvJhAGrnfPFJ3Pp19">join our mailing list</a>
    <br />
  </main>
</Layout>
