---
import Layout from "../layouts/Layout.astro";
---

<Layout title="sf frens zines - issue 2">
  <main>
    <h1>sf frens zines - issue 2</h1>
    <a
      href="https://drive.google.com/file/d/1y031vVrnXHhMrdsZTvrDPEJL5FLmaTw7/view?usp=sharing"
      >print one</a
    >
    <a href="https://photos.app.goo.gl/u6JDNv9xBFoQjobK6"> share your photos</a>
    <a href="https://forms.gle/zvJhAGrnfPFJ3Pp19">join our mailing list</a>
    <br>
    <a href="https://shorturl.at/duG38">donate to lini's cause</a>
    <a href="https://www.instagram.com/californiastandardband/">check out conrad and bailey's band</a>
    <br>
    Find the open mic performers on Instagram:
    <ul>
      <li><a href="https://www.instagram.com/_meenasando_">meena</a></li>
      <li><a href="https://open.spotify.com/artist/4KPrvW0HmBDFKs8PsXRwyp?si=D7k_e7LNR5aphyXOukSB4w">dave (pink roses)</a>
      <li><a href="https://www.instagram.com/makey.seth">seth</a></li>
      <li><a href="https://www.instagram.com/pranavharathi">pranav</a> and <a href="https://www.instagram.com/chai.sax">chai</a></li>
      <li><a href="https://www.instagram.com/joanne.qi">joanne</a></li>
      <li><a href="https://www.instagram.com/conradjbernal">conrad</a> and <a href="https://www.instagram.com/iplaythemusic94">bailey</a></li>
      <li>lini</li>
      <li><a href="https://www.instagram.com/katalystart">kat</a></li>
      <li><a href="https://www.instagram.com/_sycamore_willow_">jason (sycamore willow)</a></li>
      <li><a href="https://www.instagram.com/100getz/">100 getz</a></li>
    </ul>
    Find the zinesters:
    <ul>
      <li><a href="https://www.instagram.com/randommoleculez">ankil</a></li>
      <li>ayser</li>
      <li><a href="https://twitter.com/booritney?lang=en">brit</a></li>
      <li>
        denalex (<a
          href="https://open.spotify.com/show/7ADTUMcMgPYCsVizP1CfSx?si=yJwT-AK8SnqrUHeTSLdotQ"
          >podcast</a
        >, <a href="https://www.instagram.com/denalexorakwue">ig</a>)
      </li>
      <li><a href="https://www.instagram.com/joanne.qi/">joanne q</a></li>
      <li><a href="https://twitter.com/_klyap_?lang=en">ker lee</a></li>
      <li><a href="https://www.moneytechsociety.com/">kiran</a></li>
      <li>landon</li>
      <li>lini (<a href="https://shorturl.at/duG38">donate</a>)</li>
      <li><a href="https://www.instagram.com/_meenasando_/">meena</a></li>
      <li>
        pranav (<a href="https://www.instagram.com/veggie_in_sf/?hl=en">ig</a>,
        <a href="https://pranavh.substack.com/">substack</a>)
      </li>
      <li><a href="https://rwblickhan.org/">russell</a></li>
      <li><a href="https://www.facebook.com/shaina.wan.7">shaina</a></li>
      <li>
        sherry (<a href="https://www.instagram.com/frostyshadows/">ig</a>, <a
          href="https://sherryyuan.me">site</a
        >)
      </li>
      <li><a href="https://www.instagram.com/zachkysar/">zach</a></li>
    </ul>
  </main>
</Layout>
