---
import Layout from "../layouts/Layout.astro";
---

<Layout title="sf frens zines - issue 3">
  <main>
    <h1>sf frens zines - issue 3</h1>
    <p>
      <a href="https://mixam.com/print-on-demand/670437001df0d77fda625491"
        >print your own</a
      >
    </p>
    <p>
      diy at home (<a
        href="https://drive.google.com/file/d/1PGMBSEj8Tr5gl4fqENtBQrQzW6efDwIi/view?usp=sharing"
        >pdf</a
      >,
      <a
        href="https://drive.google.com/drive/folders/1nVTnfgN3rpAAWJbWRNlq-ctimq9KiyKj?usp=drive_link"
        >jpg</a
      >)
    </p>
    <br />
    <a
      href="https://docs.google.com/document/d/1zMzh85iK823MvzW32Sj787sN1TvMu4sCdbG_boGtiqE/edit?usp=sharing"
      >sherry's movie trivia answer key</a
    >
    <a href="https://public.flourish.studio/visualisation/19022924/"
      >yuan's data visualization</a
    >
    <a
      href="https://crosshare.org/crosswords/RC1yBYt62rX94U3OX8Y8/family-circus"
    >
      jason's crossword answer key</a
    >
  </main>
</Layout>
