---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="zines by sf frens" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    /* https://modernfontstacks.com */
    font-family: "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual,
      cursive;
    font-weight: normal;
    -webkit-text-stroke: 1px black;
    font-size: xx-large;
    color: white;
  }

  input {
    /* https://modernfontstacks.com */
    font-family: "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual,
      cursive;
    font-weight: normal;
    -webkit-text-stroke: 1px black;
    font-size: xx-large;
  }

  body {
    background: linear-gradient(to bottom, #ff6699, #ff99cc);
    min-height: 100vh;
    margin: 0.5em;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  p {
    max-width: 65ch;
    margin-block: 0.25em;
  }
</style>
